<launch>
    <arg name="time_step"   default="0.01" />
    <arg name="standalone"  default="false" />

    <arg name="use_state_estimator" default="false" />
    <!-- <arg name="controllers_file"  default="$(find m545_coverage_sim)/param/controllers.yaml" /> -->

    <!-- robot description loading parameters -->
    <arg name="excavator_name"    default="m545"/>
    <arg name="description_name"  default="/romo_mm_description"/>
    <arg name="perfect_sensors"   default="false"/>
    <arg name="fixed"             default="false"/>
    <arg name="using_cabin_lidar" default="true"/>
    <arg name="using_boom_lidar"  default="false"/>
    <arg name="using_gps"         default="true"/>
    <arg name="using_cabin_imu"   default="true"/>
    <arg name="endeffector_type"  default="0"/> <!-- 0: Shovel, 1: gripper -->
    <arg name="using_mega_ft"     default="false"/>

    <!-- Obstacle parameters -->
    <arg name="has_obstacle"    default="false"/>
    <arg name="obstacle_name"   default="ramp"/>

    <!-- Set the initial pose of the robot -->
<!--     <arg name="x"               default="-12.4"/> -->
<!--     <arg name="y"               default="-51.5"/> -->
    <arg name="x" default="5.0" />
    <arg name="y" default="-2.0" />
    <arg name="z" default="0.8" />
    <arg name="roll" default="0.0" />
    <arg name="pitch" default="0.0" />
<!--     <arg name="yaw" default="0.0" /> -->
    <arg name="yaw"             default="2.12"/>

    <!-- Gazebo config parameters -->
    <arg name="paused"        default="false"/>
    <arg name="use_sim_time"  default="true"/>
    <arg name="gui"           default="false"/>
    <arg name="headless"      default="false"/>
    <arg name="debug"         default="false"/>
    <arg name="verbose"       default="false"/>
    <arg name="model_path"    default="$(find m545_gazebo)/.."/>
    <arg name="world"         default="empty"/>
    <arg name="world_path"    default="$(find m545_gazebo)/worlds/$(arg world).world"/>
    <arg name="gazebo_config" default="default"/>

    <!-- map gazebo state to m545 state -->
    <remap from="/m545_state_groundtruth" to="/m545_state" />

    <!-- Load robot description -->
    <include file="$(find m545_urdf)/launch/load.launch">
        <arg name="excavator_name"      value="$(arg excavator_name)"/>
        <arg name="simulation"          value="true"/>
        <arg name="perfect_sensors"     value="$(arg perfect_sensors)"/>
        <arg name="fixed"               value="$(arg fixed)"/>
        <arg name="using_cabin_lidar"   value="$(arg using_cabin_lidar)"/>
        <arg name="using_boom_lidar"    value="$(arg using_boom_lidar)"/>
        <arg name="using_gps"           value="$(arg using_gps)"/>
        <arg name="using_cabin_imu"     value="$(arg using_cabin_imu)"/>
        <arg name="endeffector_type"    value="$(arg endeffector_type)"/>
        <arg name="description_name"    value="$(arg description_name)"/>
        <arg name="using_mega_ft"       value="$(arg using_mega_ft)"/>
    </include>

    <!-- Launch the gazebo simulation -->
    <include file="$(find m545_gazebo)/launch/gazebo.launch">
        <arg name="excavator_name"       value="$(arg excavator_name)"/>
        <arg name="model_path"           value="$(arg model_path)"/>
        <arg name="world"                value="$(arg world)"/>
        <arg name="world_path"           value="$(arg world_path)"/>
        <arg name="load_description"     value="false"/>
        <arg name="perfect_sensors"      value="$(arg perfect_sensors)"/>
        <arg name="fixed"                value="$(arg fixed)"/>
        <arg name="using_cabin_lidar"    value="$(arg using_cabin_lidar)"/>
        <arg name="using_boom_lidar"     value="$(arg using_boom_lidar)"/>
        <arg name="using_gps"            value="$(arg using_gps)"/>
        <arg name="using_cabin_imu"      value="$(arg using_cabin_imu)"/>
        <arg name="using_reduced_model"  value="false"/>
        <arg name="endeffector_type"     value="$(arg endeffector_type)"/>
        <arg name="description_name"     value="$(arg description_name)"/>
        <arg name="gazebo_config"        value="$(arg gazebo_config)"/>
        <arg name="has_obstacle"         value="$(arg has_obstacle)"/>
        <arg name="obstacle_name"        value="$(arg obstacle_name)"/>
        <arg name="time_step"            value="$(arg time_step)"/>
        <arg name="use_state_estimator"  value="$(arg use_state_estimator)"/>
        <arg name="x"                    value="$(arg x)"/>
        <arg name="y"                    value="$(arg y)"/>
        <arg name="z"                    value="$(arg z)"/>
        <arg name="roll"                 value="$(arg roll)"/>
        <arg name="pitch"                value="$(arg pitch)"/>
        <arg name="yaw"                  value="$(arg yaw)"/>
        <arg name="paused"               value="$(arg paused)"/>
        <arg name="use_sim_time"         value="$(arg use_sim_time)"/>
        <arg name="gui"                  value="$(arg gui)"/>
        <arg name="headless"             value="$(arg headless)"/>
        <arg name="debug"                value="$(arg debug)"/>
        <arg name="verbose"              value="$(arg verbose)"/>
<!--        <arg name="using_mega_ft"        value="$(arg using_mega_ft)"/>-->
    </include>

        <!-- Publish tf from robot state -->
    <include file="$(find m545_rviz)/launch/tf_publisher.launch">
        <arg name="description_name" value="$(arg description_name)"/>
        <arg name="endeffector_type" value="$(arg endeffector_type)"/>
    </include>


    <arg name="map" default="square_site"/>
    <param name="desired_map_path" value="$(find m545_maps_pipeline)/maps/$(arg map).bag"/>
    <include
        file="$(find m545_maps_pipeline)/launch/visualize_map.launch">
        <arg name="map" default="$(arg map)"/>
    </include>

    <rosparam file="$(find local_excavation)/config/excavation_planning.yaml" />
    <param name="desired_map_path" value="$(find m545_maps_pipeline)/maps/$(arg map).bag"/>
    <test pkg="local_excavation" test-name="local_excavation_test" type="local_excavation_test"/>

    <!-- Rviz config parameters -->
    <arg name="use_rviz" default="true"/>
    <arg name="rviz_config" default="coverage"/>
    <include file="$(find m545_rviz)/launch/rviz.launch" if="$(arg use_rviz)">
        <arg name="rviz_config" value="$(arg rviz_config)"/>
    </include>
</launch>
